extends ../layout/index.pug

block content
    div.content-opciones
        section.section-opciones.opciones(id="opciones")
            each juego in juegos 
                div.card
                    div.card-img
                        img(src=juego.imagen, alt=juego.titulo)
                    div.card-info
                        h4.card-title= juego.titulo
                        img.estrellas(src="/image/icons/estrellas.png")
                        p.precio= `$ ${juego.videojuego_plataformas[0].precio}`
                        form(action="/carrito/agregar", method="POST")
                            input(type="hidden", name="id_videojuego", value=juego.id_videojuego)
                            input(type="hidden", name="plataforma", value=juego.videojuego_plataformas[0].plataforma.dataValues.nombre)
                            input(type="hidden", name="titulo", value=juego.titulo)
                            input(type="hidden", name="precio", value=juego.videojuego_plataformas[0].precio)
                            input(type="hidden", name="imagen", value=juego.imagen)
                            input(type="hidden", name="cantidad", value="1")
                            button(type="submit").button Agregar al carrito

                        a.button.mostrar-video(href=`/consola/${consola}/${juego.id_videojuego}`) Ver más

    if showVideo 
        .modal 
            div.full 
                div.full-video
                    iframe( src=juego.trailer title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen) 
                
                div.full-info
                    h4.card-title= juego.titulo
                    img.estrellas(src="/image/icons/estrellas.png")
                    p.precio= `$ ${juego.videojuego_plataformas[0].precio}`
                            form(action="/carrito/agregar", method="POST")
                            input(type="hidden", name="id_videojuego", value=juego.id_videojuego)
                            input(type="hidden", name="plataforma", value=juego.videojuego_plataformas[0].plataforma.dataValues.nombre)
                            input(type="hidden", name="titulo", value=juego.titulo)
                            input(type="hidden", name="precio", value=juego.videojuego_plataformas[0].precio)
                            input(type="hidden", name="imagen", value=juego.imagen)
                            input(type="hidden", name="cantidad", value="1")
                            button(type="submit").button Agregar al carrito
                    a.button.mostrar-video(href=`/consola/${consola}`) Regresar
    
    script.
        const consola = !{JSON.stringify(consola)};
    script(src="/js/colores.js")



